/dts-v1/;

/include/ "kirkwood.dtsi"

/ {
	model = "QNAP TS219 family";
	compatible = "qnap,ts219", "mrvl,kirkwood-88f6281", "mrvl,kirkwood";

	memory {
		device_type = "memory";
		reg = <0x00000000 0x20000000>;
	};

	chosen {
		bootargs = "console=ttyS0,115200n8";
	};

	ocp@f1000000 {
		serial@12000 {
			clock-frequency = <200000000>;
			status = "ok";
		};
		serial@12100 {
			clock-frequency = <200000000>;
			status = "okay";
		};
	};

	i2c@11000 {
		status = "okay";
		#address-cells = <1>;
               	#size-cells = <0>;

		s35390a@30 {
			compatible = "s35390a";
			reg = <0x30>;
			status = "okay";
		};
	};
};
